.foto-book {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.foto-book__title {
    font-size: 32px;
}

.foto-book__text {
    text-indent: 10vw;
    margin-left: 5vw;
    font-size: 14px;
    font-weight: 600;
}

.foto-book__container {
    margin-top: 3vw;
    width: 100%;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25vh, 1fr));
    grid-auto-flow: dense;
    row-gap: 1vh;
    column-gap: 14px;
    justify-content: center;
    border: yellow 1px solid;
}

.foto-book__item-container {
    width: 19vw;
    height: 25vh;
    cursor: pointer;
}

.foto-book__item {
    margin: 0;
    width: 19vw;
    height: 25vh;
    object-fit: cover;
    cursor: pointer;
}
